* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
}
main{
  background: linear-gradient(to right top, #65dfc9,#6cdbeb);
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.container{
  width: 70%;
  /* min-height: 70vh; */
  border-radius: 15px;
  background: linear-gradient(to right top, rgba(255,255,255,.8),rgba(255,255,255,.3));
  z-index: 4;
  display: flex;
}

.circle1,.circle2{
  min-height: 10rem;
  width: 10rem;
  background: #000;
  position: absolute;
  background: linear-gradient(to left top, rgba(255,255,255,.8),rgba(255,255,255,.3));
  border-radius: 50%;
}

.circle1{
  top: 1%;
  right: 15%;
}
.circle2{
  top: 75%;
  right: 75%;
}

.dashbord{
  background: #fff;
  /* padding: 0px 20px;  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 15px;
  /* padding: 10px; */
  width: 35%;
}
.social{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;

}
.link{
  margin: 20px 0px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  
}

.link p{
  padding-left: 10px;
}

.join{
  display: flex;
  align-items: center;  
  background: linear-gradient(to right top, #65dfc9,#6cdbeb);
  border-radius: 7px;
  position: relative;
  padding: 20px 7px;
  width: 80%;
}

.join img{
  width: 40%;
  position: absolute;
  right: 20px;
  bottom: 5px;
}

.join p{
  width: 30%;
}

.games{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  padding: 20px;
  flex: 1;
}



.active{
  font-size: x-large;

}

.active input{
  width: 60%;
  margin-top: 20px;
  border: hidden;
  border-radius: 7px;
  height: 20px;
}
.game-card{
  width: 100%;
  display: flex;
  margin: 20px 0px;
  justify-content: space-between;
  background: rgba(255,255,255,.9);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 6px 6px rgba(0,0,0,.1);
  filter: blur(10);
}
.game-info{
  width: 60%;
}

.progress-bar{
  width: 100%;
  height: 15px;
  background:rgba(0,0,0,.1);
  margin-top: 30px;
  border-radius: 7px;
  
}

.progress{
  height: 15px;
  width: 60%;
  background: linear-gradient(to right top, #65dfc9,#6cdbeb);
  border-radius: 7px;
}
.percentage{
  background: linear-gradient(to right top, #65c3df,#6cebcbec);
  font-size: 20px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



