* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;

}
main{

  background: linear-gradient(to right top, #65dfc9,#6cdbeb);
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.container{
  width: 60%;
  min-height: 80vh;
  border-radius: 15px;
  background: linear-gradient(to right top, rgba(255,255,255,.8),rgba(255,255,255,.3));
  z-index: 4;
  display: flex;
}

.circle1,.circle2{
  min-height: 10rem;
  width: 10rem;
  background: #000;
  position: absolute;
  background: linear-gradient(to left top, rgba(255,255,255,.8),rgba(255,255,255,.3));
  border-radius: 50%;
}

.circle1{
  top: 1%;
  right: 15%;
}
.circle2{
  top: 75%;
  right: 75%;
}

.dashbord{
  background: #fff;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 15px;
  padding: 10px;
}
.social{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}
.link{
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.link p{
  padding-left: 10px;
}

.join{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right top, #65dfc9,#6cdbeb);
  border-radius: 7px;
  padding: 0px 5px;
}

.join img{
  width: 80px;
}

.games{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  padding: 20px 0px;
}

.game-card{
  width: 100%;
  display: flex;
  margin: 50px 0px;
  justify-content: space-between;
}

.active{
  font-size: large;

}

.active input{
  width: 60%;
  margin-top: 20px;
  border: hidden;
  border-radius: 7px;
  height: 20px;
}


